[submodule "lib/Car"]
	path = lib/Car
	url = https://github.com/tmi-ltda/car.git
[submodule "lib/DCMotor"]
	path = lib/DCMotor
	url = https://github.com/tmi-ltda/dc-motor.git
[submodule "lib/IRSensor"]
	path = lib/IRSensor
	url = https://github.com/tmi-ltda/ir-sensor.git
[submodule "lib/IRStrip"]
	path = lib/IRStrip
	url = https://github.com/tmi-ltda/ir-strip.git
